/**
 * Demo page styles, all list scroll effects styles are in sctroll.css
 */
html, body {
    margin: 0px;
    padding: 0px;
}

body {
    background: #DCDCDC !important;;
    font-family: 'Lato', Times, 'Times New Roman', serif;
    font-size: 16px;
    color: #eee;
    margin-bottom: 40px;
    line-height: 1;
}

header {
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    padding: 20px 100px 20px 20px;
    font-size: 20px;
    line-height: 1.3em;
}

header div {
    margin-top: 10px;
}

a {
    color: cyan;
}

article {
    display: inline-block;
    margin: 20px;
}

h2 {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

small {
    opacity: 0.6;
    font-style: italic;
    font-size: 14px;
    margin-left: 5px;
}

/**
 * List used for the demo page
 */

.order ul
{
    overflow-y:auto !important;
    padding-right: 20px !important;
}

.order ul {
    position: relative;
    height: 350px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style: none;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}

.order ul li {
    position: relative;
    padding: 16px;
    background: #eee;
    color: #252525;
    font-size: 18px;
    z-index: 2;

    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    transform: translateZ(0px);
}

.order ul li:nth-child(odd) {
    background: #fff;
}

