img
{
	display: block;
	margin: 0px;
}

.content_title
{
	position: absolute;
	padding: 50px 40px 50px 80px;
	background-color: #FFEBD9 !important;
	z-index: 100;
	font-size: 22px;
	margin-left: -60px;
    -webkit-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    -moz-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    -ms-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover
{
	background: #5bc0de !important;
}

.content_title .text
{
    color:black;
}

.content_slider
{
	width: 100%;
	overflow: hidden;
}

.gallery_content
{
	overflow: hidden;
	margin-left: -170px;
	
}

.gallery_item
{
	float: left;
	background-color: #FFEBD9 !important;
	border: 1px solid lightgrey;
	overflow: hidden;
	vertical-align: top;
	margin-left: -2px;
	-webkit-transition: width 500ms;
	-moz-transition: width 500ms;
	-o-transition: width 500ms;

}
